<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'remark', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Slides</title>
    <meta charset="utf-8">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
